@import 'tailwindcss';
@plugin "daisyui";
@plugin 'flowbite/plugin';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Titillium Web', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

html {
    background-color: var(--color-base-100);
    background-image:
        repeating-linear-gradient(0deg, var(--color-base-200) 0 1px, transparent 1px 20px),
        repeating-linear-gradient(90deg, var(--color-base-200) 0 1px, transparent 1px 20px);
}

.grid-300-45 {
    background-image:
        repeating-linear-gradient(45deg, var(--color-base-300) 0 1px, transparent 1px 20px),
        repeating-linear-gradient(-45deg, var(--color-base-300) 0 1px, transparent 1px 20px);
}

.card2 {
    @apply card border-2 border-base-300 bg-base-200 p-4;
}

.material-symbols-sharp {
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 24;
}

.note::before {
    content: 'ℹ️ Note';
    @apply font-bold;
}

.note {
    @apply my-2 border-l-2 border-blue-500 bg-blue-300/10 p-2 pr-10 text-blue-500;
}

.tip::before {
    content: '💡 Tip';
    @apply font-bold;
}

.tip {
    @apply my-2 border-l-2 border-green-600 bg-green-300/10 p-2 pr-10 text-green-600;
}

.warn::before {
    content: '⚠️ Warning';
    @apply font-bold;
}

.warn {
    @apply my-2 border-l-2 border-yellow-500 bg-yellow-300/10 p-2 pr-10 text-yellow-500;
}

.caution::before {
    content: '🛑 Caution';
    @apply font-bold;
}

.caution {
    @apply my-2 border-l-2 border-red-500 bg-red-300/10 p-2 pr-10 text-red-500;
}

.ol {
    @apply my-4 list-inside list-decimal pl-2;
}

.separator-below::after {
    content: '';
    display: block;
    width: 200%;
    height: 1px;
    background-color: var(--color-base-content);
    opacity: 15%;
}

@theme {
    --color-primary-50: #fff5f2;
    --color-primary-100: #fff1ee;
    --color-primary-200: #ffe4de;
    --color-primary-300: #ffd5cc;
    --color-primary-400: #ffbcad;
    --color-primary-500: #fe795d;
    --color-primary-600: #ef562f;
    --color-primary-700: #eb4f27;
    --color-primary-800: #cc4522;
    --color-primary-900: #a5371b;

    --color-secondary-50: #f0f9ff;
    --color-secondary-100: #e0f2fe;
    --color-secondary-200: #bae6fd;
    --color-secondary-300: #7dd3fc;
    --color-secondary-400: #38bdf8;
    --color-secondary-500: #0ea5e9;
    --color-secondary-600: #0284c7;
    --color-secondary-700: #0369a1;
    --color-secondary-800: #075985;
    --color-secondary-900: #0c4a6e;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {

    /* disable chrome cancel button */
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
}
